<!-- Modal -->
<div class="modal fade" id="modalEquipamento">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Equipamento ou Material Permanente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        ...
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Excluir</button>
        <button type="button" class="btn btn-primary">Salvar</button>
    </div>
    </div>
</div>
</div>