{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QualifarSUS</title>
    
    
    <!-- CSS do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

     <!-- CSS do SweetAlert2 -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css" rel="stylesheet">
    


    <!-- Adicionando jQuery via CDN -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <!-- CSS Componentes -->
    <link rel="stylesheet" href="{% static 'styles/shared/botoes.css' %}">
    <link rel="stylesheet" href="{% static 'styles/shared/cards.css' %}">
    <link rel="stylesheet" href="{% static 'styles/shared/lista_vertical.css' %}">
    <link rel="stylesheet" href="{% static 'styles/shared/tabela.css' %}">


    <link rel="stylesheet" href="{% static '\styles\qualifarsus\inscricao.css' %}">
</head>
<body>
    
    <div class="container formulario">
        
        <section class="assinatura-ms">
            <img src="{% static '\assets\marca_MS.png' %}" alt="Marca do Ministério da Saúde">
        </section>

        <section class="logo-qualifarsus">
            <img src="{% static '\assets\qualifarsus\qualifarsus.png' %}" alt="Marca do Ministério da Saúde">
        </section>

        <section class="info__formulario">
            <h1>Seleção de Novos Municípios - 2024</h1>
            <div class="informacoes" style="text-align: justify;">
                <p>
                    O Departamento de Assistência Farmacêutica e Insumos Estratégicos (DAF/SECTICS/MS), da Secretaria de Ciência, Tecnologia, Inovação e Complexo da Saúde (SECTICS), do Ministério da Saúde (MS), por meio da Portaria GM/MS nº 1.927, de 22 de novembro de 2023, que dispõe sobre a transferência dos recursos destinados ao Eixo Estrutura do Programa Nacional de Qualificação da Assistência Farmacêutica - Qualifar-SUS aos municípios com Índice de Desenvolvimento Humano Municipal - IDHM baixo e médio, no âmbito do Sistema Único de Saúde - SUS, para o ano de 2023, disponibiliza o preenchimento deste formulário de inscrição como parte da seleção dos municípios elegíveis no âmbito do Programa, para fins de recebimento do incentivo financeiro de custeio e investimento.
                </p>
                
                <p>
                    Acesse aqui a lista de municípios elegíveis:
                    <a href="https://www.gov.br/saude/pt-br/acesso-a-informacao/participacao-social/chamamentos-publicos/2023/chamamento-publico-sectics-ms-no-1927-de-22-de-novembro-de-2023/municipios-elegiveis.pdf" target="_blank">clique aqui</a>
                </p>
                
                <p>
                    Acesse aqui a Portaria GM/MS nº 1.927, de 22 de novembro de 2023:
                    <a href="https://www.in.gov.br/en/web/dou/-/portaria-gm/ms-n-1.927-de-22-de-novembro-de-2023-524895932">clique aqui</a>
                </p>

                
            </div>
        </section>


        <!-- Selecione o Município -->
        <div class="subsecao">

            <div class="titulo-secao">
                Selecione o Município
            </div>

            <div class="perguntas" style="margin-top: 15px;">
                <!-- UF -->
                <div class="form-floating mb-3">
                    <select id="uf" name="uf" class="form-select">
                        <option value=""></option>
                        {% for uf in lista_ufs %}
                            <option value="{{ uf }}">{{ uf }}</option>
                        {% endfor %}
                    </select>
                    <label for="uf">UF</label>
                </div>
                
                <!-- Município -->
                <div class="form-floating mb-3 full-width">
                    <select id="municipio" name="municipio" class="form-select" disabled>
                        <option value=""></option>
                    </select>
                    <label for="municipio">Município</label>
                </div>

                <!-- Código IBGE -->
                <div class="form-floating mb-3" style="width: 100px;">
                    <input type="text" id="cod_ibge" name="cod_ibge" class="form-control" disabled>
                    <label>COD IBGE</label>
                </div>

                <!-- IDHM - 2010 -->
                <div class="form-floating mb-3">
                    <input type="text" id="faixa_idhm_2010" name="faixa_idhm_2010" class="form-control" disabled>
                    <label>Faixa IDHM - 2010</label>
                </div>

                <!-- IDHM - 2010 -->
                <div class="form-floating mb-3">
                    <input type="text" id="idhm_2010" name="idhm_2010" class="form-control" disabled>
                    <label>IDHM - 2010</label>
                </div>

                <!-- Porte Populacional -->
                <div class="form-floating mb-3">
                    <input type="text" id="porte_populacional" name="porte_populacional" class="form-control" disabled>
                    <label>Porte Populacional</label>
                </div>
            </div>

        </div>


        <form class="formulario-dados needs-validation" novalidate>
            <div class="formulario-secao">
                <div class="titulo-secao">
                    Dados da Secretaria Municipal
                </div>
                
             <!-- Secretário Municipal de Saúde -->
                <div class="subsecao">
                    <div class="titulo-subsecao">
                        Secretário(a) Municipal de Saúde
                    </div>
                    <div class="perguntas">
                        <!-- Nome completo -->
                        <div class="form-floating mb-3 full-width">
                            <input type="text" id="nomeScretario" name="nomeScretario" class="form-control" required>
                            <label for="nomeScretario">Nome completo</label>
                            <div class="invalid-feedback">
                                Por favor, informe o nome completo do secretário(a).
                            </div>
                        </div>
                        <!-- Email institucional -->
                        <div class="form-floating mb-3 full-width">
                            <input type="email" id="emailSecretario" name="emailSecretario" class="form-control" required>
                            <label for="emailSecretario">Email institucional</label>
                            <div class="invalid-feedback">
                                Por favor, informe o email institucional do secretário(a).
                            </div>
                        </div>
                        <!-- Telefone -->
                        <div class="form-floating mb-3">
                            <input type="text" id="telefoneSecretario" name="telefoneSecretario" class="form-control" required>
                            <label for="telefoneSecretario">Telefone</label>
                            <div class="invalid-feedback">
                                Por favor, informe o telefone do secretário(a).
                            </div>
                        </div>   
                        <!-- Celular (não obrigatório) -->
                        <div class="form-floating mb-3">
                            <input type="text" id="celularSecretario" name="celularSecretario" class="form-control">
                            <label for="celularSecretario">Celular</label>
                        </div>  
                    </div>
                </div>

                <!-- Responsável Assistência Farmacêutica -->
                <div class="subsecao">
                    <div class="titulo-subsecao">
                        Responsável pela Assistência Farmacêutica
                    </div>
                    <div class="perguntas">
                        <div class="form-floating mb-3 full-width">
                            <input type="text" id="nomeAssistenciaDaf" name="nomeAssistenciaDaf" class="form-control" >
                            <label>Nome completo</strong></label>
                        </div>
                        <div class="form-floating mb-3 full-width">
                            <input type="text" id="emailAssistenciaDaf" name="emailAssistenciaDaf" class="form-control" >
                            <label>Email institucional</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" id="telefoneAssistenciaDaf" name="telefoneAssistenciaDaf" class="form-control" >
                            <label>Telefone</label>
                        </div>   
                        <div class="form-floating mb-3">
                            <input type="text" id="celularAssistenciaDaf" name="celularAssistenciaDaf" class="form-control" >
                            <label>Celular</label>
                        </div>  
                    </div>
                </div>

                <!-- Responsável pela Solicitação -->
                <div class="subsecao">
                    <div class="titulo-subsecao">
                        Responsável pela Inscrição
                    </div>
                    <div class="perguntas">
                        <!-- Nome completo -->
                        <div class="form-floating mb-3 full-width">
                            <input type="text" id="nomeResp" name="nomeResp" class="form-control" required>
                            <label for="nomeResp">Nome completo</label>
                            <div class="invalid-feedback">
                                Por favor, informe o nome completo do responsável pela inscrição.
                            </div>
                        </div>
                        <!-- Email institucional -->
                        <div class="form-floating mb-3 full-width">
                            <input type="email" id="emailResp" name="emailResp" class="form-control" required>
                            <label for="emailResp">Email institucional</label>
                            <div class="invalid-feedback">
                                Por favor, informe o email institucional do responsável pela inscrição.
                            </div>
                        </div>
                        <!-- Telefone -->
                        <div class="form-floating mb-3">
                            <input type="text" id="telefoneResp" name="telefoneResp" class="form-control" required>
                            <label for="telefoneResp">Telefone</label>
                            <div class="invalid-feedback">
                                Por favor, informe o telefone do responsável pela inscrição.
                            </div>
                        </div>   
                        <!-- Celular (não obrigatório) -->
                        <div class="form-floating mb-3">
                            <input type="text" id="celularResp" name="celularResp" class="form-control">
                            <label for="celularResp">Celular</label>
                        </div>
                    </div>
            </div>

            <!-- Equipamentos e Materiais Permanentes -->
            <div class="formulario-secao">

                <!-- Título -->
                <div class="titulo-secao">Equipamentos e Materiais Permanentes</div>

                <!-- Área Botões -->
                <div style="display: flex; align-items: center; justify-content: space-between;">

                    <!-- Campo Valor Investimento -->
                    <div class="campo" style="margin-right: 20px;">
                        <label class="campo_valor" for="valor_investimento">Valor Investimento: </label>
                        <span id="valor_investimento">R$ 0,00</span>
                    </div>
                
                    <!-- Campo Total Disponível -->
                    <div class="campo" style="margin-right: 20px;">
                        <label  class="campo_valor" for="totalDisponivel">Total Disponível: </label>
                        <span id="totalDisponivel">R$ 0,00</span>
                    </div>
                
                    <!-- Botão Adicionar -->
                    <div class="botao_padrao" id="addEquipamento" style="display: flex; align-items: center; cursor: pointer;">
                        <i class="bi bi-plus-circle" style="font-size: 1.5vw; vertical-align: middle; color: black"></i>Adicionar
                    </div>
                
                </div>

                <!-- Lista -->
                <div class="lista__vertical">
                    <div class="section__tabela">
                        <div class="table-responsive"> 
                            <table class="table table-striped table-hover" style="font-size: 14px;" id="tabEquipamentos">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Equipamento</th>
                                        <th>Valor Unitário R$</th>
                                        <th>Quantidade</th>
                                        <th>Valor Total R$</th>
                                        <th>Romover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="invalid-feedback">
                Você deve inserir ao menos um intem na tabela.
            </div>
            
            <div class="formulario-secao">
                <div class="titulo-secao">Observações</div>
                <div class="form-floating mb-3" style="margin-top: 15px;">
                    <input type="text-area" id="categoria" name="uf" class="form-control" >
                    <label>Observações</strong></label>
                </div>
            </div>
        </form>

        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; " class="d-flex gap-2 mb-3">

            <div  id="enviarInscricao" class="botao_padrao" style="display: flex; flex-direction: row; gap: 8px; justify-content: center; background-color: #257eb5; color:white; width: 20%; font-weight: bold; font-size: 16px;">
                Enviar Inscrição  <i class="bi bi-send-check" style="font-size: 1.5vw; vertical-align: middle; color: white"></i>
            </div>

            <div class="col-12" style="display: flex; flex-direction: row; gap: 8px; justify-content: center; align-items: center; width: 50%; ">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                    Concorde com os <a href="#" id="termosLink">termos e condições.</a>
                    </label>
                    <div class="invalid-feedback">
                    Você deve concordar com os termos antes de enviar o formulário.
                    </div>
                </div>
        </div>

    </div>

    <script type="module" src="{% static 'js/qualifarsus/_qualifarsus.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>

    {% include "qualifarsus\equipamento_modal.html" %}

</body>
</html>