<!-- Modal -->
<div class="modal fade" id="modalTermosCondicoes">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px; width: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Termos e Política de Privacidade</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">

                <p>Estas Políticas de Privacidade aplicam-se a todos os Usuários cadastrados...</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
                <button type="button" class="btn btn-outline-primary" id="concordarAceitar" data-bs-dismiss="modal">Concordar e aceitar</button>
            </div>
        </div>
    </div>
 </div>